<% provide :page_header, 'Help' %>

  <body>
    <h4>Rental Processing Help</h4>
      <li><%= link_to 'Schedule Rental', schedule_help_index_path %></li>

    <h4>Asset Administration Help</h4>
      <li><%= link_to 'New Item Type', new_item_type_help_index_path %></li>
      <li><%= link_to 'New Item', new_item_help_index_path %></li>
      <li><%= link_to 'New Incidental Type', new_incidental_type_help_index_path %></li>
      <li><%= link_to 'New Hold', new_hold_help_index_path %></li>

    <h4>User Managment Help</h4>
      <li><%= link_to 'New Group', new_group_help_index_path %></li>
      <li><%= link_to 'New User', new_user_help_index_path %></li>
      <li><%= link_to 'New Department', new_department_help_index_path %></li>

  </body>
