<% provide( :page_header, 'Create New Item Type' ) %>

<%= form_tag '/item_types/create_item_type' do %>

  <div class='form-group col-xs-12'>
    <%=label_tag 'name', 'Name', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%=text_field_tag 'name', '', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag 'Base Fee', 'Base Fee', class: 'control-label col-xs-2'  %>
    <div class='col-xs-6'>
      <%= number_field_tag 'base_fee', '', min: 0, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag 'Fee Per Day', 'Fee Per Day', class: 'control-label col-xs-2'  %>
    <div class='col-xs-6'>
      <%= number_field_tag 'fee_per_day', '', min:0, class: 'form-control' %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <div class='col-xs-offset-2 col-xs-10'>
      <%= submit_tag 'Submit', class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

<% end %>
