<%= form_for(@incidental_type) do |f| %>
  <div class='form-group col-xs-12'>
    <%= f.label :name, 'Name', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= f.label :description, 'Description', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= f.text_field :description, class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= f.label :base, 'Base Fee', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= f.number_field :base, class: 'form-control', min: 0, required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= f.label :damage_tracked, 'Damage Tracked?', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= f.check_box :damage_tracked %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <div class='col-xs-offset-2 col-xs-10'>
      <%= f.submit class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
      <%= link_back 'Back', incidental_types_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
