<% provide( :page_header, @incidental_type.name ) %>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Description</label>
  <div class="form-control-information col-xs-10"><%= @incidental_type.description %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Base Fee</label>
  <div class="form-control-information col-xs-10"><%= number_to_currency @incidental_type.base%></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Damage Tracked?</label>
  <div class="form-control-information col-xs-10"><%= @incidental_type.damage_tracked %></div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%= link_to 'Edit Incidental Type', edit_incidental_type_path(@incidental_type), class: "btn btn-primary" %>
    <%= link_back 'Back', incidental_types_path, class: "btn btn-default" %>
  </div>
</div>
