<% provide( :page_header, 'Groups' ) %>

<%= link_to 'New Group', new_group_path, class: "btn btn-primary" %>
<br><br>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="min-width">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td class="min-width">
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), group, class: "btn btn-xs btn-success" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-edit")+" Edit"), edit_group_path(group), class: "btn btn-xs btn-primary" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-trash")+" Delete"), group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
