<%= form_for(@user) do |f| %>
  <% if params[:action] != 'edit' %>
    <div class="form-group col-xs-12">
      <label class="col-xs-2 control-label" for="first_name">First Name</label>
      <div class="col-xs-6">
        <%= text_field :user, :first_name, placeholder: "Jane", class:"form-control", required: true %>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label class="col-xs-2 control-label" for="last_name">Last Name</label>
      <div class="col-xs-6">
        <%= text_field :user, :last_name, placeholder: "Doe", class:"form-control", required: true %>
      </div>
    </div>

    <div class="form-group col-xs-12">
      <label class="col-xs-2 control-label" for="spire_id">Spire ID</label>
      <div class="col-xs-6">
        <%= text_field :user, :spire_id, placeholder: "12345678", class:"form-control", required: true %>
      </div>
    </div>
  <% end %>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="department_id">Department</label>
    <div class="input-group col-xs-6">
      <%= f.select :department_id, options_from_collection_for_select(
                                     @departments, "id", "name",
                                     @user.department_id),
                                   {},
                                   onchange: "update_disclaimer(this)",
                                   class: "selectpicker form-control",
                                   required: true %>
      <span class="input-group-btn">
        <%= link_to 'Add New Department', new_department_path, class: "btn btn-primary" %>
      </span>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="phone">Phone Number</label>
    <div class="col-xs-6">
      <%= text_field :user, :phone, placeholder: "XXX-XXX-XXXX", class:"form-control", required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="email">Email Address</label>
    <div class="col-xs-6">
      <%= text_field :user, :email, placeholder: "user@example.com", class:"form-control", required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Back', :back, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
