<p id="notice"><%= notice %></p>

<% page_header: 'Users' %>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
<br><br>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone #</th>
      <th class="min-width">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td class="min-width">
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), user, class: "btn btn-xs btn-success" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-edit")+" Edit"), edit_user_path(user), class: "btn btn-xs btn-primary" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-trash")+" Delete"), user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
