<% provide( :page_header, @user.full_name ) %>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Phone</label>
  <span class="form-control-static"><%= @user.phone %></span>
</div>
<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Email</label>
  <span class="form-control-static"><%= @user.email %></span>
</div>
<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Spire</label>
  <span class="form-control-static"><%= @user.spire_id %></span>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-push-2">
    <%= link_to 'Edit', new_user_path, class: "btn btn-primary" %>
    <%= link_to 'Back', users_path, class: "btn btn-default" %>
  </div>
</div>