<% provide( :page_header, @user.full_name ) %>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Spire ID</label>
  <div class="form-control-information col-xs-10"><%= @user.spire_id %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Phone Number</label>
  <div class="form-control-information col-xs-10"><%= @user.phone %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Email Address</label>
  <div class="form-control-information col-xs-10"><%= @user.email %></div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-primary" %>
    <%= link_to 'Back', users_path, class: "btn btn-default" %>
  </div>
</div>