<%= form_for setup_incurred_incidental(@incurred_incidental) do |f| %>
  <div>
    <%= f.hidden_field :rental_id, value: params[:rental_id] || @incurred_incidental.rental.id, class: "selectpicker form-control" %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :incidental_type_id, 'Incidental Type', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :incidental_type_id, options_from_collection_for_select(@incidental_types, 'id', 'basic_info', params[:incidental_type_id] || @incurred_incidental.incidental_type.try(:id)), {}, class: "selectpicker form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :amount, 'Amount', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.number_field :amount, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.fields_for :notes do |notes_fields| %>
      <% if notes_fields.index == 0 %>
        <%= notes_fields.label :note, 'Note', class: 'control-label col-xs-2' %>
        <div class="col-xs-6">
          <%= notes_fields.text_field :note, placeholder: "Please make note of Incident", value: "", required: true, class: 'form-control' %>
        </div>
        <% end %>
    <% end %>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', incurred_incidentals_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
