<%= form_for(@incurred_incidental) do |f| %>
  <div class="form-group col-xs-12">
    <%= f.label :incidental_type_id, 'Incidental Type', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :incidental_type_id, options_from_collection_for_select(@incidental_types, 'id', 'name'), {}, class: "selectpicker form-control" %>
    </div>
    <div class="col-xs-4">
      <%= link_to 'New Incidental Type', new_incidental_type_path, class: "btn btn-info form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :rental_id, 'Rental', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :rental_id, options_from_collection_for_select(@rentals, 'id', 'basic_info'), {}, class: "selectpicker form-control" %>
    </div>
    <div class="col-xs-4">
      <%= link_to 'New Rental', rentals_schedule_path, class: "btn btn-info form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :times_modified, 'Times Modifier', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.number_field :times_modified, class: 'form-control', min: 0, step: 0.01, required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', incurred_incidentals_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
