<% provide( :page_header, 'Incurred Incidentals' ) %>

<%= link_to 'New Incurred Incidental', new_rental_incurred_incidental_path, class: "btn btn-primary" %>
<br><br>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Incidental Type</th>
      <th>Fee</th>
      <th>Times Modified</th>
      <th>Notes</th>
      <th>Document</th>
      <th>Active?</th>
      <th class="min-width">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @incidentals.each do |i| %>
      <tr>
        <td><%= i.incidental_type.name %></td>
        <td><%= i.fee %></td>
        <td><%= i.times_modified %></td>
        <td><%= i.notes.last.note %></td>
        <td><%= i.documents %></td>
        <td><%= i.is_active? %></td>
        <td class="min-width">
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), rental_incurred_incidental_path(@rental, i), class: "btn btn-xs btn-success" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-edit")+" Edit"), edit_rental_incurred_incidental_path(@rental, i), class: "btn btn-xs btn-primary" %>
          <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-trash")+" Active"), active_rental_incurred_incidental_path(@rental, i), method: :patch, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
