<h1>Report of Incurred Incidentals for Rental: <%= @rental.id %></h1>

<table>
  <thead>
    <tr>
      <th>Incidental Type</th>
      <th>Fee</th>
      <th>Times Modified</th>
      <th>Notes</th>
      <th>Document</th>
      <th>Active?</th>
    </tr>
  </thead>

  <tbody>
    <% @incidentals.each do |i| %>
      <tr>
        <td><%= i.incidental_type.name %></td>
        <td><%= i.fee %></td>
        <td><%= i.times_modified %></td>
        <td><%= i.notes %></td>
        <td><%= i.documents %></td>
        <td><%= i.is_active? %></td>
        <td><%= link_to 'Show', rental_incurred_incidental_path(@rental, i) %></td>
        <td><%= link_to 'Edit', edit_rental_incurred_incidental_path(@rental, i) %></td>
        <td><%= link_to 'De-activate', active_rental_incurred_incidental_path(@rental, i), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Incurred Incidental', new_rental_incurred_incidental_path %>
