<% provide(:page_header, "Incurred Incidental ID: #{@incurred_incidental.id}") %>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        Rental Information
      </div>
      <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
        <p>Rental Status:   <%= @incurred_incidental.rental.try(:rental_status) %></p>
        <p>Item Type:       <%= @incurred_incidental.rental.try(:item_type).try(:name)%></p>
        <p>Start Date:      <%= @incurred_incidental.rental.try(:start_date) %></p>
        <p>End Date:        <%= @incurred_incidental.rental.try(:end_date) %></p>
      </div>
    </div>
  </div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        Incidental Type Information
      </div>
      <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
        <p>Name:                 <%= @incurred_incidental.incidental_type.try(:name) %></p>
        <p>Description:          <%= @incurred_incidental.incidental_type.try(:description)%></p>
        <p>Base Fee:             <%= @incurred_incidental.incidental_type.try(:base) %></p>
      </div>
    </div>
  </div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        Financial Transaction Information
      </div>
      <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
        <p>Corresponding Rental: <%= @incurred_incidental.financial_transaction.try(:rental).try(:basic_info) %></p>
        <p>Amount:               <%= @incurred_incidental.financial_transaction.try(:amount)%></p>
        <p>Adjustment:           <%= @incurred_incidental.financial_transaction.try(:adjustment) %></p>
      </div>
    </div>
  </div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        Notes
      </div>
      <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
        <% @incurred_incidental.notes.reverse_each do |n| %>
          <div class="form-control-information col-xs-8"><%= "#{n.created_at.strftime("%b %e, %l:%M %p")} - #{n.note}" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @incurred_incidental.try(:documents).present? %>
  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="panel panel-warning">
        <div class="panel-heading">
          Documents
        </div>
        <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
          <% @incurred_incidental.documents.each do |document| %>
            <div class="row">
              <div class="col-xs-3">
                <%= document.description %>
              </div>
              <div class="col-xs-9 pull-right">
                <% if document.picture? %>
                  <a href=<%= document_path(document) %>>
                    <%= image_tag "data:image/jpeg;base64,#{document.fetch_file_as_base64}", class: 'document' %>
                  </a>
                <% else %>
                  <%= link_to 'Download Document', document_path(document) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="form-group col-xs-12">
  <label class="col-xs-offset-2 col-xs-2 control-label">Amount</label>
  <div class="form-control-information col-xs-8"><%= @incurred_incidental.amount%></div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%= link_to 'Edit', edit_incurred_incidental_path(@incurred_incidental), class: "btn btn-primary" %>
    <%= link_to 'View Rental', rental_path(@incurred_incidental.rental), class: "btn btn-success" %>
    <%= link_to 'View Incidental Type', incidental_type_path(@incurred_incidental.incidental_type), class: "btn btn-success" %>
    <%= link_to 'Back', :back, class: "btn btn-default" %>
  </div>
</div>
