<p>
  <strong>Incidental Type:</strong>
  <%= @incidental.incidental_type.name %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @incidental.fee %>
</p>

<p>
  <strong>Number of times modified:</strong>
  <%= @incidental.times_modified %>
</p>

<p>
  <strong>Notes:</strong>
  <ul>
    <% @incidental.notes.reverse_each do |n| %>
      <li>
        <%= n.updated_at.strftime("%T - %e %b, %Y") %>: <%= n.note %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Document:</strong>
  <%= @incidental.documents %>
</p>

<p>
  <strong>Active?:</strong>
  <%= @incidental.is_active? %>
</p>

<%= link_to 'Edit', edit_rental_incurred_incidental_path(@rental, @incidental) %> |
<%= link_to 'Back', rental_incurred_incidentals_path %>
