<!-- <h4 class="alert alert-info">Upcoming Rentals</h4>
<%= render partial: 'rentals/table', locals: { rentals: @upcoming_rentals } %> -->

<div class="panel panel-primary">
  <div class="panel-body">
    <h4 class="text-info header-no-margin">
      <%= "Upcoming Rentals" if rental_type == @upcoming_rentals %>
      <%= "Ongoing Rentals" if rental_type == @ongoing_rentals %>
      <%= "No-Show Rentals" if rental_type == @no_show_rentals %>
      <%= "All Future Rentals" if rental_type == @future_rentals %>
    </h4>
  </div>

  <%= render partial: 'rentals/table', locals: { rentals: rental_type } %>

  <div class="panel-footer"></div>
</div>
