<%= form_for @rental, method: :post do |f| %>
  <div class="form-group col-xs-12">
    <%= f.label :type, 'Golf Cart', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :item_type_id, options_from_collection_for_select(@item_types.where(name: params["item_type"]).order(name: :asc), "id", "name"), {}, class: "selectpicker form-control", onchange: "update_disclaimer(this)", disabled: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :user, 'User', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :user_id, options_from_collection_for_select(@users.order(last_name: :asc), "id", "full_name"), {}, class: "selectpicker form-control", onchange: "update_disclaimer(this)" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :start_time, 'Start Time', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :start_time, value: @start_time || params["start_date"].to_date, required: true, class: "form-control", disabled: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :end_time, 'End Date', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :end_time, value: @end_time || params["start_date"].to_date.next_day, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Terms and Conditions
        </div>
        <% @item_types.each do |type| %>
          <div class="panel-body no-gutter" style="max-height: 10;overflow-y: scroll;">
            <% hidden = '' %>
            <% hidden = 'display:none; ' unless type == @item_types.first %>
            <%= content_tag :span, type.disclaimer, class: "disclaimer", id: "disclaimer_#{type.id}", style: "#{hidden}white-space: pre;" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-6">
      <label><%= check_box_tag 'disclaimer' %> I Agree To The Above Terms And Conditions</label>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", disabled: "disabled" %>
      <%= link_to 'Back', rentals_schedule_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
