<%= form_for(@rental) do |f| %>
<<<<<<< HEAD
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
=======
  <div class="form-group col-xs-12">
    <%= f.label :type, 'Item Type', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :item_type_id, options_from_collection_for_select(@item_types.order(name: :asc), "id", "name"), {}, class: "selectpicker form-control", onchange: "update_disclaimer(this)" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :start_time, 'Start Time', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :start_time, value: @start_time || Time.zone.today, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :end_time, 'End Date', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :end_time, value: @end_time || Time.zone.today, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-8">
      <% @item_types.each do |type| %>
        <% hidden = '' %>
        <% hidden = 'display:none; ' unless type == @item_types.first %>
        <%= content_tag :span, type.disclaimer, class: "disclaimer", id: "disclaimer_#{type.id}", style: "#{hidden}white-space: pre;" %>
      <% end %>
      
      </br></br>

      <label><%= check_box_tag 'disclaimer' %> I Agree To The Above Terms And Conditions</label>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", disabled: "disabled" %>
      <%= link_to 'Back', rentals_path, class: "btn btn-default" %>
    </div>
>>>>>>> bffca3d21e8ccb401896c14ad4e397b152895acb
  </div>
<% end %>
