<%= form_for(@rental) do |f| %>
  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="type_id">Type</label>
    <div class="col-xs-6">
      <%= select_tag :type_id, options_from_collection_for_select(@item_types.order(name: :asc), "id", "name"), class: "selectpicker form-control", onchange: "update_disclaimer(this)" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="start_date">Start Date</label>
    <div class="col-xs-6">
      <%= date_field 'rental', 'start_date', value: Date.today, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="end_date">End Date</label>
    <div class="col-xs-6">
      <%= date_field 'rental', 'end_date', value: Date.today, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-8">
      <% @item_types.each do |type| %>
        <% hidden = '' %>
        <% hidden = 'display:none; ' unless type == @item_types.first %>
        <%= content_tag :span, type.disclaimer, class: "disclaimer", id: "disclaimer-#{type.id}", style: "#{hidden}white-space: pre;" %>
      <% end %>
      
      </br></br>

      <label><%= check_box_tag 'disclaimer-checkbox', onclick: 'toggle_submit(this)' %> I Agree To The Above Terms And Conditions</label>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", disabled: "disabled" %>
      <%= link_to 'Back', rentals_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
