<%= form_for @rental, method: :post, html: {id:  'rental_reservation'} do |f| %>

  <div class="form-group col-xs-12">
    <%= f.label :type, 'Cart Type', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :item_type_id, options_from_collection_for_select(@item_types, "id", "name"), {}, class: "selectpicker form-control", onchange: 'calculate_price()' %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :user, 'User', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :user_id, options_from_collection_for_select(@users.order(last_name: :asc), "id", "full_name"), {}, class: "selectpicker form-control", onchange: "update_disclaimer(this)" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :start_time, 'Pickup Date', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :start_time, value: @start_date, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :end_time, 'Dropoff Date', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.date_field :end_time, value: @start_date.next_day, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-xs-12 col-xs-offset-1">
    <label for="Rental Details">Reservation Summary</label>
  </div>

  <div class="form-group col-xs-12 col-xs-offset-1">
    <%= f.label :display_range, 'Number of Days:', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <div id="rental_date_range">1</div>
    </div>
  </div>

  <div class="form-group col-xs-12 col-xs-offset-1">
    <%= f.label :display_cost, 'Rental Cost:', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <div id="rental_pricing">75</div>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :attachments, 'Agreements', class: 'control-label col-xs-2' %>

    <div class="col-xs-12 col-md-2 col-lg-2 col-xl-2">
      <%= button_tag 'Golf Kart Checklist', class: 'btn btn-info' %>
    </div>
    <div class="col-xs-12 col-md-2 col-lg-2 col-xl-2">
      <%= button_tag 'Terms of Use and Agreement', class: 'btn btn-info' %>
    </div>
  </div>


  <div class="checkbox form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-6">
      <label><input type="checkbox" name="TOC" value="Accept" onClick="accept_and_enable(this)">I agree to the terms, conditions, and usage above.</label>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", id: "TOC", disabled: "disabled" %>
      <%= link_to 'Back', :back, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
