<table class="table table-bordered table-hover">
  <tr>
    <th class='col-xs-1'>Status</th>
    <th class='col-xs-1'>Start Date</th>
    <th class='col-xs-1'>End Date</th>
    <th class='col-xs-1'>Item</th>
    <th class='col-xs-1'>Amount Charged</th>
    <th class='col-xs-1'>Amount Due</th>
  </tr>
  <% rentals.sort_by { |r| r.start_time }.each do |rental| %>
    <tr data-toggle='tooltip' title="<%= rental_status_english(rental_status_css_class(rental)) %>" class=<%= rental_status_css_class(rental) %>>
      <td><%= rental.rental_status %></td>
      <td><%= rental.start_time.strftime("%a %m/%d/%Y") %></td>
      <td><%= rental.end_time.strftime("%a %m/%d/%Y") %></td>
      <td><%= rental.item_type.name %></td>
      <td>$</td>
      <td>$</td>
    </tr>
  <% end %>
</table>
