<% provide( :page_header, 'Check Out' ) %>

<table class="table table-bordered table-hover">
  <tr class="info">
    <th>Car Type</th>
    <th>Car Name</th>
    <th>Amount</th>
    <th>Responsible Person</th>
    <th>Spire ID</th>
    <th>Department</th>
    <th>Rental Start Date</th>
    <th>Rental End Date</th>
  </tr>
  <tr>
    <td><%= rental.item_type.name%></td>
    <td><%= rental.item.name%></td>
    <td><%= number_to_currency(rental.financial_transaction.amount) %></td>
    <td><%= rental.user.full_name %></td>
    <td><%= rental.user.spire_id %></td>
    <td><%= rental.department.name %></td>
    <td><%= rental.start_time.to_date %></td>
    <td><%= rental.end_time.to_date %></td>
  </tr>
</table>

<%= form_for rental, html: { id: 'signature_image' } do |f| %>

  <p> Be advised, <%= rental.item_type.disclaimer %> </p>
  <p> Lorum is plat er sum other legalese or latinese stuff</p>
  <a href='#link_to_rules_pdf'>Rules and Regulations</a> <br><br>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="full_charge">Fully Charged?</label>
    <div class="col-xs-6">
      <input type="checkbox" name="full_charge" data-on-text='Yes' data-off-text='No' required>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="time_confirmed">Confirmed Return Time?</label>
    <div class="col-xs-6">
      <input type="checkbox" name="time_confirmed" data-on-text='Yes' data-off-text='No' required>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-2 control-label">
      <%= f.label :customer_signature_image, 'Customer Signature' %>
    </div>
    <div class="sigPad sigPad1 col-xs-6">
      <%= f.hidden_field :customer_signature_image, required: false, class: "form-control output", value: '' %>
      <input type="hidden", id="output", class="form-control output" required>
      <ul class="sigNav">
        <li class="clearButton"><a href="#clear">Clear</a></li>
      </ul>
      <div class="sig sigWrapper">
        <canvas class="pad" width="598" height="55"></canvas>
      </div>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit 'Check Out', class: "btn btn-primary" %>
      <%= link_to 'Back', rentals_processing_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<script>
  $("[name='full_charge']").bootstrapSwitch();
  $("[name='time_confirmed']").bootstrapSwitch();

  var options = {
    drawOnly : true
    , defaultAction : "drawIt"
    , onFormError : "context"
    , lineTop : 55
  }
  var sig;
  var sig2
  $(document).ready(function() {
    sig = $('.sigPad1').signaturePad(options);
    sig2 = $('.sigPad2').signaturePad(options);
  });
  $("#signature_image").submit(function() {
    document.getElementById('rental_customer_signature_image').value = sig2.getSignatureImage();
  });
</script>
