<% provide( :page_header, "Rental ##{@rental.id} --- #{@rental.dates}" ) %>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= image_tag 'umass_logo', size: 130 %>
    </div>
    <div class="col-xs-6">
      <p>
        Parking Services <br>
        University of Massachusetts Amherst<br>
        51 Forestry Way Amherst, MA 01003-9262<br>
        phone: (413) 577-PARK <br>
        fax: (413) 545-4440<br>
        web: http://parking.umass.edu<br>
        email: parking@admin.umass.edu<br>
      </p>
    <div>
  </div>
</div>

<div class="form-group col-xs-12">
  <h3><label class="col-xs-2 control-label">Status</label>
  <span class="label label-info auto"><%= @rental.rental_status.upcase %></span></h3>
</div>
<!--
<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Start Date/Time</label>
  <div class="form-control-information col-xs-10"><%= @rental.start_date.strftime("%a %D %I:%M %p") %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">End Date/Time</label>
  <div class="form-control-information col-xs-10"><%= @rental.end_date.strftime("%a %D %I:%M %p") %></div>
</div>
-->
<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Item Type</label>
  <div class="form-control-information col-xs-9"><%= @rental.item_type.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Item Name</label>
  <div class="form-control-information col-xs-9"><%= @rental.item.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Reserved By</label>
  <div class="form-control-information col-xs-9"><%= @rental.creator.full_name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Customer</label>
  <div class="form-control-information col-xs-9"><%= @rental.renter.full_name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Reservation ID</label>
  <div class="form-control-information col-xs-9"><%= @rental.reservation_id %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Department</label>
  <div class="form-control-informaton col-xs-9"><%= @rental.department.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Amount Charged</label>
  <div class="form-control-information col-xs-9"><%= number_to_currency @rental.sum_charges %></div>
</div>

<div class="form-group col-xs-12">
   <label class="col-xs-3 control-label">Rental Amount</label>
   <div class="form-control-information col-xs-9"><%= number_to_currency @rental.financial_transaction.amount %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-3 control-label">Total Amount Due</label>
  <div class="form-control-information col-xs-9"><%= number_to_currency @rental.balance %></div>
</div>

<%#<ul class="nav nav-tabs hidden-print">%>
  <%#<li class="active"><a data-toggle="tab" href="#incidental">Incidentals</a></li>%>
  <%#<li><a data-toggle="tab" href="#payment" >Payment Summary</a></li>%>
  <%#</ul>%>
<div class="container">
  <div id="incidental" class="">
    <div class="form-group col-xs-12">
      <h2 class="">Incidentals</h2>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Base Fee</th>
            <th>Modifier Amount</th>
            <th>Modifier Description</th>
          </tr>
        </thead>
        <tbody>
          <% @rental.incurred_incidentals.each do |incurred_incidental| %>
            <tr>
              <td><%= incurred_incidental.try(:incidental_type).try(:name) %></td>
              <td><%= incurred_incidental.try(:incidental_type).try(:description) %></td>
              <td><%= number_to_currency incurred_incidental.try(:incidental_type).try(:base) %></td>
              <td><%= number_to_currency incurred_incidental.try(:incidental_type).try(:modifier_amount) %></td>
              <td><%= incurred_incidental.try(:incidental_type).try(:modifier_description) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="payment" class="form-group col-xs-12">
    <h2 class="">Payment Summary</h2>
    <%= render partial: "transaction_detail" %>
  </div>
</div>

<p class="legal-blurb">This invoice may be paid by Procard on-line or at our office or by recharge form. <br>

Recharge forms are available online at http://www.umass.edu/transportation/guides-and-forms <br>

Please send payment to Parking Services, Attention Sharon Kennedy. <br>

If you have any questions, please contact Sharon Kennedy at 413-545-6588 or srkenned@admin.umass.edu </p>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%= link_to 'Back', :back, class: "btn btn-default" %>
    <%= link_to 'Print Invoice', @rental, :onclick => 'window.print();return false;', class: "btn btn-primary"%>
  </div>
</div>
