<% provide( :page_header, 'Rentals' ) %>

<%= search_form_for @q, class: 'form-inline' do |f| %>
  <%= f.label :item_type_id_eq, 'Item Type' %>
  <%= f.select :item_type_id_eq, options_from_collection_for_select(@item_types.order(name: :asc), "id", "name", selected: (params[:q].try(:[], :item_type_id_eq) || 0)), {include_blank: true}, class: "selectpicker form-control col-xs-2" %>

  <%= f.label :user_id_eq, 'Customer' %>
  <%= f.select :user_id_eq, options_from_collection_for_select(@users.order(first_name: :asc), "id", "full_name", selected: (params[:q].try(:[], :user_id_eq) || 0)), {include_blank: true}, class: "selectpicker form-control col-xs-2" %>

  <%= f.label :start_time_gteq, 'Between' %>
  <%= f.date_field :start_time_gteq, class: "form-control" %>

  <%= f.label :end_time_lteq, 'And' %>
  <%= f.date_field :end_time_lteq, class: "form-control" %>

  <%= f.submit class: "btn btn-default" %>
<% end %>
<br>

<table class="table table-bordered table-hover">
  <tr>
    <th>Status</th>
    <th>Customer</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Item</th>
    <th>Amount Charged</th>
    <th>Amount Due</th>
    <th class="min-width">Actions</th>
  </tr>
  <% @rentals.sort_by { |r| r.start_time }.each do |rental| %>
    <tr data-toggle='tooltip' title="<%= rental_status_english(rental_status_css_class(rental)) %>" class=<%= rental_status_css_class(rental) %>>
      <td><%= rental.rental_status %></td>
      <td><%= rental.user.full_name %></td>
      <td><%= rental.start_time.strftime("%a %m/%d/%Y") %></td>
      <td><%= rental.end_time.strftime("%a %m/%d/%Y") %></td>
      <td><%= rental.item_type.name %></td>
      <td>$</td>
      <td>$</td>
      <td class="min-width">
        <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), rental, class: "btn btn-xs btn-success" %>
        <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-trash")+" Delete"), rental, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @past_rentals, renderer: BootstrapPagination::Rails %>
