<% provide( :page_header, @rental.dates ) %>

<div class="form-group col-xs-12">
  <h3><label class="col-xs-2 control-label">Status</label>
  <span class="label label-info auto"><%= @rental.rental_status.upcase %></span></h3>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Start Date/Time</label>
  <div class="form-control-information col-xs-10"><%= @rental.start_date.strftime("%a %D %I:%M %p") %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">End Date/Time</label>
  <div class="form-control-information col-xs-10"><%= @rental.end_date.strftime("%a %D %I:%M %p") %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Item Type</label>
  <div class="form-control-information col-xs-10"><%= @rental.item_type.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Item Name</label>
  <div class="form-control-information col-xs-10"><%= @rental.item.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">User Name</label>
  <div class="form-control-information col-xs-10"><%= @rental.user.full_name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Spire ID</label>
  <div class="form-control-information col-xs-10"><%= @rental.user.spire_id %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Department</label>
  <div class="form-control-informaton col-xs-10"><%= @rental.department.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Amount Charged</label>
  <div class="form-control-information col-xs-10">$</div>
</div>

<div class="form-group col-xs-12">
   <label class="col-xs-2 control-label">Rental Amount</label>
   <div class="form-control-information col-xs-10"><%= number_to_currency @rental.financial_transaction.amount %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Total Amount Due</label>
  <div class="form-control-information col-xs-1"><%= number_to_currency @rental.sum_amount%></div>
  <div class="col-xs-4">
    <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" Show Payment Summary"), rental_transaction_detail_path(@rental), class: "btn btn-default form-control" %>
  </div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-4 control-label">
    <h3><span class="label label-default auto">Incidental Type</span></h3>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Base Fee</th>
        <th>Modifier Amount</th>
        <th>Modifier Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @rental.incurred_incidentals.each do |incurred_incidental| %>
          <td><%= incurred_incidental.try(:incidental_type).try(:name) %></td>
          <td><%= incurred_incidental.try(:incidental_type).try(:description) %></td>
          <td><%= number_to_currency incurred_incidental.try(:incidental_type).try(:base) %></td>
          <td><%= number_to_currency incurred_incidental.try(:incidental_type).try(:modifier_amount) %></td>
          <td><%= incurred_incidental.try(:incidental_type).try(:modifier_description) %></td>
          <td><%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View Incurred Incidentail"), incurred_incidental, class: "btn btn-xs btn-success"%>
              <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-log-in")+" Edit Incurred Incidental"), edit_incurred_incidental_path(incurred_incidental), class: "btn btn-xs btn-info"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add New Incidental Type to Current Rental', new_incurred_incidental_path(:rental_id => @rental.id), class: "btn btn-default form-control" %>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%#= link_to 'Edit Rental', edit_rental_path(@rental), class: "btn btn-primary" %>
    <% if @current_user.has_permission?(:rentals, :index) %>
      <%= link_to 'Back', rentals_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to 'Back', root_url, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
