<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Type</label>
  <div class="form-control-information col-xs-10"><%= @damage.type %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Location</label>
  <div class="form-control-information col-xs-10"><%= @damage.location %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Repaired By</label>
  <div class="form-control-information col-xs-10"><%= @damage.repaired_by %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Description</label>
  <div class="form-control-information col-xs-10"><%= @damage.description %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Comments</label>
  <div class="form-control-information col-xs-10"><%= @damage.comments %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Occurred On</label>
  <div class="form-control-information col-xs-10"><%= @damage.occurred_on %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Repaired On</label>
  <div class="form-control-information col-xs-10"><%= @damage.repaired_on %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Estimated Cost</label>
  <div class="form-control-information col-xs-10"><%= @damage.estimated_cost %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Actual Cost</label>
  <div class="form-control-information col-xs-10"><%= @damage.actual_cost %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Item</label>
  <div class="form-control-information col-xs-10"><%= @damage.item %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Rental</label>
  <div class="form-control-information col-xs-10"><%= @damage.rental %></div>
</div>

<div class="form-group col-xs-12">
  <%= link_to 'Back', damages_path %>
  <%= link_to 'Edit', edit_damage_path(@damage) %>
</div>
