<div class="simple-calendar">
  <div class="calendar-heading row">
    <div class="col-lg-2- col-md-2 col-sm-2 col-xs-2" align="left">
      <%= link_to calendar.url_for_previous_view, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
      <% end %>
    </div>
    <span class="calendar-title col-lg-8- col-md-8 col-sm-8 col-xs-2" align="center">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </span>
    <div class="col-lg-2- col-md-2 col-sm-2 col-xs-2" align="right">
      <%= link_to calendar.url_for_next_view, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
              <% start_date ||= Date.today %>
              <% start_date.to_date if start_date.class != Date %>
              <% if (start_date.month == day.month) && ((Date.today - 1) < day) %>
                <div class="reservation-control">
<<<<<<< HEAD
                  <%= link_to 'Reserve 4 Seater', new_rental_path(item_type: '4 Seat', start_date: day, item_type_id: 1), class: 'btn btn-primary btn-sm reserve-4' %>
                  <%= link_to 'Reserve 6 Seater', new_rental_path(item_type: '6 Seat', start_date: day, item_type_id: 2), class: 'btn btn-primary btn-sm' %>
=======
                  <%= link_to 'Reserve 4 Seater', new_rental_path(item_type: '4 Seat', start_date: day), class: 'btn btn-primary btn-sm btn-block reserve-4' %>
                  <%= link_to 'Reserve 6 Seater', new_rental_path(item_type: '6 Seat', start_date: day), class: 'btn btn-primary btn-sm btn-block' %>
>>>>>>> bd91c83ed10a3ea9b86f8b1d1b54710c2e2c878e
                </div>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
