<% provide( :page_header, 'Items' ) %>

<%= link_to 'New Item', new_items_path, class: 'btn btn-primary btn-md
reserve-4' %>
<%= link_to 'Reload Items', { :controller => "items", :action => "refresh_items" }, class:'btn btn-primary btn-md reserve-4' %>
<br>
<br>
<%= search_form_for @q, class: 'form-inline' do |f| %>
      <%= f.label :item_type_id_eq, 'Item Type' %>
      <%= f.select :item_type_id_eq, options_from_collection_for_select(@item_types.order(name: :asc), "id", "name", selected: (params[:q].try(:[], :item_type_id_eq) || 0)), {include_blank: true}, class: "selectpicker form-control col-xs-2" %>
     <%= f.submit class: "btn btn-default" %>
    <% end %>
<br>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%= sort_link(@q, :item_type_name, 'Item Type') %></th>
    <th><%= sort_link(@q, :name, 'Name') %></th>
    <th><%= sort_link(@q, :item_type_base_fee, 'Base Fee') %></th>
    <th><%= sort_link(@q, :item_type_fee_per_day, 'Fee Per Day') %></th>
    <th><%= sort_link(@q, :item_type_disclaimer, 'Disclaimer') %></th>
    <th class="min-width">Actions</th>
  </tr>
  <% @items.sort_by { |i| i.item_type_id }.each do |item| %>
    <tr>
      <td><%= item.item_type_name %></td>
      <td><%= item.name %></td>
      <td><%= number_to_currency item.item_type_base_fee %></td>
      <td><%= number_to_currency item.item_type_fee_per_day %></td>
      <td><%= simple_format item.item_type_disclaimer %></td>
      <td class="min-width">
        <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), item, class: "btn btn-xs btn-success" %>
        <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-edit")+" Edit"), edit_item_path(item), class: "btn btn-xs btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
