<% provide(:page_header, 'Payment Tracking') %>
<% if @rentals.any? %>
  <%= will_paginate @rentals, renderer: BootstrapPagination::Rails %>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Rental Id</th>
        <th>Reservation Id</th>
        <th>Renter Department/Name</th>
        <th>Days Since Reservation</th>
        <th>Balance Due</th>
        <th class="min-width">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.id %></td>
          <td><%= rental.reservation_id %></td>
          <td><%= if rental.renter.department then rental.renter.department.name else rental.renter.full_name end %></td>
          <td><%= ((Time.current-rental.created_at) / 1.days ).floor %></td>
          <td><%= rental.balance %></td>
          <td class="min-width">
            <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), rental, class: "btn btn-xs btn-success" %>
            <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-envelope")+" Send E-Mail"), rental, class: "btn btn-xs btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @rentals, renderer: BootstrapPagination::Rails %>
<% else %>
  <h3>No Rentals To Track</h3>
<% end %>
