<%= form_for(@fee_schedule) do |f| %>
  <% if @fee_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee_schedule.errors.count, "error") %> prohibited this fee_schedule from being saved:</h2>

      <ul>
      <% @fee_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base_amount %><br>
    <%= f.text_field :base_amount %>
  </div>
  <div class="field">
    <%= f.label :amount_per_day %><br>
    <%= f.text_field :amount_per_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
