<%= form_for(@fee_schedule) do |f| %>
  <div class="form-group col-xs-12">
    <%= f.label :type, 'Item Type', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.select :item_type_id, options_from_collection_for_select(@item_types.order(name: :asc), "id", "name"), {}, class: "selectpicker form-control", onchange: "update_disclaimer(this)", required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :base_amount, 'Base Fee', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.number_field :base_amount, class: 'form-control', min: 0, step: 0.01, required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <%= f.label :amount_per_day, 'Fee Per Day', class: 'control-label col-xs-2' %>
    <div class="col-xs-6">
      <%= f.number_field :amount_per_day, class: 'form-control', min: 0, step: 0.01, required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', fee_schedules_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
