<p id="notice"><%= notice %></p>

<h1>Listing Fee Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Item Type</th>
      <th>Base amount</th>
      <th>Amount per day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fee_schedules.each do |fee_schedule| %>
      <tr>
        <td><%= fee_schedule.item_type.name %></td>
        <td><%= fee_schedule.base_amount %></td>
        <td><%= fee_schedule.amount_per_day %></td>
        <td><%= link_to 'Show', fee_schedule %></td>
        <td><%= link_to 'Edit', edit_fee_schedule_path(fee_schedule) %></td>
        <td><%= link_to 'Destroy', fee_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee schedule', new_fee_schedule_path %>
