<p id="notice"><%= notice %></p>

<p>
  <strong>Base amount:</strong>
  <%= @fee_schedule.base_amount %>
</p>

<p>
  <strong>Amount per day:</strong>
  <%= @fee_schedule.amount_per_day %>
</p>

<%= link_to 'Edit', edit_fee_schedule_path(@fee_schedule) %> |
<%= link_to 'Back', fee_schedules_path %>
