<%= form_for(financial_transaction) do |f| %>
  <% if financial_transaction.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(financial_transaction.errors.count, 'error') %> prohibited this financial_transaction from being saved:</h2>

      <ul>
      <% financial_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :rental_id %>
  <%= f.hidden_field :transactable_type %>
  <%= f.hidden_field :transactable_id %>

  <div class='form-group col-xs-12'>
    <%= f.label :amount, 'Amount', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= f.number_field :amount, value: financial_transaction.rental.balance,
                                  min: 0, max: financial_transaction.rental.balance,
                                  class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag :payment_type, 'Payment Form', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= select_tag :payment_type, options_for_select(Payment.payment_types.keys),
                                    class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag :contact_name, 'Contact Name', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= text_field_tag :contact_name, nil, class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag :contact_email, 'Contact Email', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= text_field_tag :contact_email, nil, class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag :contact_phone, 'Contact Phone', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= text_field_tag :contact_phone, nil, placeholder: 'XXX-XXX-XXXX',
                                         class: 'form-control', required: true %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <%= label_tag :reference, 'Reference', class: 'control-label col-xs-2' %>
    <div class='col-xs-6'>
      <%= text_field_tag :reference, nil, placeholder: 'Batch Number', class: 'form-control' %>
    </div>
  </div>

  <div class='form-group col-xs-12'>
    <div class='col-xs-offset-2 col-xs-10'>
      <%= f.submit 'Submit Payment', class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
      <%= link_back 'Back', financial_transactions_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
